[Desktop Entry]
Version=1.0
Type=Application
Name=KVMSoft
Comment=Partagez votre clavier entre deux machines Linux
Exec=kvmsoft
Icon=kvmsoft
Terminal=false
Categories=Utility;Network;
